.section-hero{
    background-image: url(asset/23df7005a95a63db3832423e7644398558e2bb78.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.white{
    color:white;
}